<nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
  <div class="container">
    <a class="navbar-brand" href="#">Hello</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ps-5 mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>

      <!-- Button trigger modal -->
      <div class="d-flex">
        <button type="button" class="btn btn-info px-4" data-bs-toggle="modal" data-bs-target="#loginModal">
          Register Now
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- Registration form -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header card-header fw-bold">
        <h5 class="modal-title fw-bold" id="loginModalLabel">Registration Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="registerUser()" #registrationForm="ngForm" class="row g-3">

          <!--Email-->
          <div class="col-md-12 fw-bold">
            <label for="email ">Email<span class="mandatory">*</span></label>
            <input type="email" id="email" name="email" class="form-control" [(ngModel)]="user['email']" required
              pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
            <div class="error-message"
              *ngIf="registrationForm.controls['email'].invalid && registrationForm.controls['email'].touched">
              Invalid email format
            </div>
          </div>

          <!--Phone Number-->
          <div class="col-md-12 fw-bold">
            <label for="phoneNumber">Phone Number<span class="mandatory">*</span></label>
            <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" [(ngModel)]="user['phoneNumber']"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
            <div class="error-message"
              *ngIf="registrationForm.controls['phoneNumber'].invalid && registrationForm.controls['phoneNumber'].touched">
              Phone Number must be in the format 999-999-9999.
            </div>
          </div>

          <!--First Name-->
          <div class="col-md-6 fw-bold">
            <label for="firstName">First Name<span class="mandatory">*</span></label>
            <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="user['firstName']"
              required>
            <div class="error-message"
              *ngIf="registrationForm.controls['firstName'].invalid && registrationForm.controls['firstName'].touched">
              First Name is required.
            </div>
          </div>

          <!--Last Name-->
          <div class="col-md-6 fw-bold">
            <label for="lastName">Last Name<span class="mandatory">*</span></label>
            <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="user['lastName']"
              required>
            <div class="error-message"
              *ngIf="registrationForm.controls['lastName'].invalid && registrationForm.controls['lastName'].touched">
              Last Name is required.
            </div>
          </div>

          <!--Password-->
          <div class="col-md-6 fw-bold">
            <label for="password">Password<span class="mandatory">*</span></label>
            <input type="password" id="password" name="password" class="form-control" [(ngModel)]="user['password']"
              required minlength="10" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{10,}$">
            <div class="error-message"
              *ngIf="registrationForm.controls['password'].invalid && registrationForm.controls['password'].touched">
              Password must be at least 10 characters and include at least one lowercase, one
              uppercase, one digit, and one special character.
            </div>
          </div>

          <!--Confirm Password-->
          <div class="col-md-6 fw-bold">
            <label for="confirmPassword">Confirm Password<span class="mandatory">*</span></label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
              [(ngModel)]="user['confirmPassword']" required>
            <div class="error-message"
              *ngIf="registrationForm.controls['confirmPassword'].invalid && (registrationForm.controls['confirmPassword'].dirty || registrationForm.controls['confirmPassword'].touched)">
              Passwords do not match
            </div>
          </div>

          <!--Submit-->
          <div class="col-md-6 mt-4 fw-bold">
            <button type="submit" class="btn btn-primary">Register</button>
            <div class="success-message mt-2" *ngIf="isRegistered">
              <ng-container *ngIf="registrationForm.valid">
                <strong>Registration successful!</strong>
              </ng-container>
              <ng-container *ngIf="!registrationForm.valid">
                Registration failed. Please check your inputs.
              </ng-container>
            </div>

            <div class="error-message mt-2 fw-bold" *ngIf="errorMessage">
              {{ errorMessage }}
            </div>        

            <div class="error-message mt-2" *ngIf="isRegistered === false && !registrationForm.valid">
              Please enter all required input fields.
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>